.App {
  text-align: center;

    height: 100vh;
    width: 100%;
    background-image: url("./components/landing_splash.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.container {
  padding: 0;
}

.App .navbar {

  font-size: 0.5em;
  background-color: rgba(0,0,0,0);
}

.App .main-container {
  padding-top: 100px;
}

.link {
  padding: 5px;
  text-decoration: none;
  color: black;
}


.App-intro {
  font-size: large;
}

.App-container {

  border-color: white;
  border-style: solid 10px;

}

.point {
  padding-right: 50px;
  padding-left: 50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
