.container {
    width: 100%;
}

.header {
    color: green;
    margin-bottom: 20px;
    padding: 5px;
    font-style: none;
    font-size: 1.5em;
}

#delete {
    margin-left: 0px;
}
.list-form {

    display: inline-block;
    font-size: 1em;
}

.list-container {
    margin-bottom: 30px;
}

.delete-button {
    margin-top: 50px;
}

.edit-button {
    margin-left: 5px;
}

.col1 {
    float: left;
    width: 25%;
    background-color: rgba(255,255,255, 0.6);
    padding-bottom: 20px;
    padding-top: 20px;

}

.col2 {
    float: right;
    width: 74%;
    padding-top: 20px;
}