.lists {
    font-size: 1em;
}

.list-link {
    text-decoration: none;
    color: green;
    font-size: 1.5em;
}

.list-link:hover {
    font-weight: bold;
    color: green;
    text-decoration: none;
}

.list-title {
    margin-bottom: 5px;
}

.new-title-form {
    font-size: 0.9em;
}

.btn {
    font-size: 0.9em;
    margin-left: 5px;
}

.lists-header {
    font-style: normal;
}

.container-lists {
    padding-top: 20px;
}