.lists {
    font-size: 1em;
}

.list-link {
    text-decoration: none;
    color: green;
    font-size: 1.5em;
}

.list-link:hover {
    color: rgba(0,128,0, 0.6);
    text-decoration: none;
}

.list-title {
    margin-bottom: 5px;
}

.new-title-form {
    font-size: 0.9em;
}

.btn {
    font-size: 0.9em;
    margin-left: 5px;
}

.lists-header {
    font-style: normal;
    color: rgba(255,0,0, 0.8);
}

.container-lists {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
}