a.nav-item:hover {
    text-decoration: none;
}

a.link:hover {
    text-decoration: none;
    text-shadow: 0.5px 0.5px gray;
}

.nav-item-signedOut{
    display: inline-block;
    width: 100px
}

.logo-title {
    font-size: 1.5em;
}

.navbar-nav {
    margin-right: 0px;
}

#nav-lists-link {
    font-size: 2em;
    color: white;
}

.nav-item-signedIn{
    display: inline-block;
    color: white;
}

.logo-title {
    color: white;
}
