.signInForm {
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.sign-in-field {
    margin-top: 2px;
}
.btn {
    margin-top: 2px;
}

#field {
    background-color: rgba(255,255,255,0);
}